.about {
  height: 60vh;
  display: grid;
  place-content: center;
  color: #fff;

}

.about > p {
  font-size: 16px;
}

.title {
    display: grid;
    place-content: center;
    color: red;
}

.desc {
    display: grid;
    place-content: center;
}

@media (max-width: 480px) {
 .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 25px;
 }

 .about > p {
  font-size: 14px;
 }
}