.contact {
    margin-top: 70px;
}

.title {
    display: grid;
    place-content: center;
    color: red;
}

.formPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.input,
.textarea {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    outline: none;
    font-size: 18px;
    border: 2px solid orangered;
}

.textarea{
    margin-top: 20px;
    font-size: 18px;
}

.submit {
    padding: 12px 15px;
    background-color: orangered;
    color: #fff;
    width: 600px;
    margin-top: 20px;
    outline: none;
    font-size: 18px;
}

@media (max-width: 480px) {
  .formPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
  }

  .form {
    width: 100%;
    margin: 0 25px;
  }

  .input,
  .textarea {
      padding: 5px;
      margin-top: 10px;
      width: 100%;
      outline: none;
      font-size: 16px;
      
  }

  .textarea {
      margin-top: 20px;
      font-size: 16px;
  }

  .submit {
      padding: 6px 8px;
      width: 100%;
      margin-top: 20px;
      font-size: 16px;
  }
}