.homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    margin-left: 70px;
    margin-right: 100px;
    color: #fff;        
}

.heroImage{
  border-radius: 50%;
}

.hero {
   align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orangered;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}