.homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    margin-left: 70px;
    margin-right: 100px;
    color: #fff;        
}

.heroImage{
  border-radius: 50%;
}

.hero {
   align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orangered;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 480px) {

  .homepage{
    display: flex;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 60px;  
  }

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -40px;
    
   }

   .hero > h2 {
    font-size: 16px;
   
   }

   .hero > p {
    font-size: 13px;
   }

   .button {
    padding: 6px 8px;
    margin-left: -60px;
    font-size: 14px;
   }
}