.skillsCard {
    margin: 40px 70px;
   
}

.card {
    display: flex;
    align-items: center;
   
}



.skillCard {
    border: 2px solid green;
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.title {
    display: grid;
    place-content: center;
    color: red;
}