.skills {
    background-color: #111213;
    color: #fff;
}

.skillsCard {
    margin: 40px 70px;
   
}

.card {
    display: flex;
    align-items: center;
   
}

.skillCard {
    border: 2px solid green;
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.title {
    display: grid;
    place-content: center;
    color: red;
}

@media (max-width: 480px ) {
    .skills {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }

    .title {
        margin-top: 20px;
    }

    .skillCard > h3 {
        font-size: 16px;
    }
}